<%= image_tag "logo.gif", size: "272x48", alt: "Morning Glory" %>

<%if current_member %>
  <ul class="account-menu">
    <table>
    <tr>
    <td>
    <% if current_member.profile_picture.attached? %>
      <%= image_tag current_member.profile_picture.variant(resize: "35x35") %>
    <% end %>
    </td>
    <td>
      <%= menu_link_to current_member.name + "さん", :account %>
    </td>
    <td>
      <%= menu_link_to "ログアウト", :session, method: :delete, data: { confirm: "ログアウトしますか？" } %>
    </td>
    </tr>
    </table>
  </ul>
<% end %>

<%=
if controller.kind_of?(Admin::Base)
  render "shared/admin_menubar"
else
  render "shared/menubar"
end
%>
